* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  outline: none;
}
body,
html {
  width: 100%;
  height: 100vh;
  font-size: 16px;
  background-color: rgb(5, 4, 45);
}

nav.top {
  width: 100%;
  height: 70px;
  background-color: white;
  padding: 20px;
}
nav.top > img {
  width: 140px;
}
nav .login {
  width: 60px;
  float: right;
  margin-right: 25px;
  transition: 0.4s;
}
nav a {
  color: #fe7c11;
  text-decoration: none;
}
nav .login:hover {
  border-left: 10px solid #fe7c11;
}

/*-----------------header-Menu-------------*/

#header {
  max-width: 1280px;
  height: 60px;
  color: white;
  display: inline-block;
  margin-left: 10px;
}

ul {
  width: 500px;
  height: 50px;
}
ul li {
  display: inline-block;
  margin-top: 20px;
}
ul li a {
  height: 30px;
  transition: 0.2s;
  text-decoration: none;

  color: white;
}
ul li a:hover {
  color: #fe7c11;
}
/***************Principal*****************/
.principal {
  width: 100%;
  height: 900px;
}

form {
  width: 50%;
  height: 900px;
  float: right;
  text-align: left;
  border-radius: 10px;
  color: white;
  padding: 0 40px;
}
form p {
  font-size: 30px;
  margin-top: 40px;
  color: white;
}
form .DadosObrigatorios {
  margin-top: 50px;
}
form span {
  text-transform: uppercase;
  font-size: 10px;
}
input,
select {
  border-radius: 4px;
  color: #fe7c11;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'] {
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  height: 30px;
  padding: 10px;
  background: none;
  border: 2px solid #fe7c11;
  border-radius: 9px;
}
input[type='text'] {
  text-transform: uppercase;
}
input:valid {
  border: 1px solid green;
}
input[type='submit'] {
  background: none;
  border: 2px solid #fe7c11;
  padding: 10px 10px;
  width: 100px;
  border-radius: 10px;
  margin-left: 100px;
  margin-top: 50px;
  transition: 0.5s;
  cursor: pointer;
}
input[type='submit']:hover {
  border-left: 40px solid #fe7c11;
}
input[type='radio'] {
  margin-top: 30px;
  background-color: #fe7c11;
  color: #fe7c11;
}

.img {
  width: 50%;
  height: 900px;
  color: white;
  height: 900px;
  background-color: #fe7c11;
}

.img h1 {
  padding: 40px 40px 40px;
}
.img h1 > span,
.img p > span {
  color: rgb(5, 4, 45);
}
.img p {
  padding: 0 40px 0 40px;
}

.img br {
  margin-bottom: 10px;
}
.img img {
  width: 500px;

  margin: 90px 0 0 90px;
}

p {
  color: white;
}
footer > p {
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}
